/ASO/ASO/build/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


ASO/ASO/src/abstractFactoryOracle
ASO/ASO/src/compositeEx
ASO/ASO/src/adapterEx
ASO/ASO/src/builderEx
ASO/ASO/src/proxyEx
ASO/ASO/src/proxyMusic
ASO/ASO/src/chainOfResponsabilityEx
ASO/ASO/src/comandEx
ASO/ASO/src/interpreterex
ASO/ASO/src/interpreterex2

ASO/ASO/nbproject/private/*
ASO/ASO/nbproject/Makefile-*.mk
ASO/ASO/nbproject/Package-*.bash
ASO/ASO/nbproject/private/private.xml
ASO/ASO/nbproject/private/private.properties